
<%- include("header.ejs") %>
<div id="testimonials" class="jumbotron bg-dark d-flex flex-column justify-content-center ml-auto mr-auto mt-1 pb-3 pt-2 pl-1 pr-1">



    <h3 class="text-light  pb-1 text-center">About Us</h3>
<p class="text-light p-1">AutoDogg is an online portal to book your car for repairs, 
    for quality aftermarket automotive parts and accessories. 
    Usually, after some repair work for your vehicle, 
    you end up feeling that the money paid for the replacement parts was not justified. 
    AutoDogg is here to help you out, with good quality and hassle free service.</p>



        
          <h2 class="text-light h-3 pb-2 text-center">What Our Customers Say</h2>
          <div class="testimonial d-flex justify-content-between align-items-center mt-1 bg-light pl-2 pr-2 pt-2 pb-2">
            <img src="/img/person-1.jpg" alt="Samantha" class="rounded-circle">
            <p class="ml-4">Fully satisfied with the quality of repairs! Purchasing the spare parts is 
              easy and seamless. Will recommend this to my fellow colleagues as well!</p>
          </div>
    
          <div class="testimonial d-flex justify-content-between align-items-center mt-2 bg-light pl-2 pr-2 pt-2 pb-2">
              <img src="/img/person-2.jpg" alt="Jen" class="rounded-circle">
              <p class="ml-4">Automotive repair saved me on multiple ocassions. Thank you for making it painless, pleasant and most of all hassle free! It's exactly what I've been looking for.</p>
            </div>
        
      </div>

    <%- include("footer.ejs") %>