<%- include("header.ejs") %>



<div class="card bg-warning d-flex justify-content-center align-items-center" id="errorMessage" >


    <p class="h3 pt-2 pb-2">    <%= message%></p>
</div> 

<script>

setTimeout(function () {
     // Redirect after 3 seconds
     window.location = "<%=redirectToPage%>";
  }, 4500)
</script>

<%- include("footer.ejs") %>