<footer class="footer  fixed-bottom d-flex justify-content-center pt-1 pb-0 align-items-center">

    <p class="text-secondary pt-0">Copyright &copy; 2020, AutoDogg Pvt. Ltd.</p>
</footer>



<script src="../script.js"></script>

</body>

</html>