<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Autodogg
  </title>
  <link rel="shortcut icon" href="/img/finallogo.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-2 pt-2 row">


  <div class="col-lg-4 d-flex justify-content-left">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>

    </ul>
  </div>
  <div class="col-lg-4 d-flex justify-content-center">
    <img class="brand" src="/img/finallogo.png" alt="autodogg">
  </div>
  <div class="col-lg-4 d-flex flex-row-reverse">

    <div class="d-flex align-items-center">


      <i class="fa fa-shopping-cart fa-2x text-light"></i> <span id="total-items"
        class="text-warning font-weight-bold ml-2 ">0</span>
    </div>

    <div>

      <%if((authenticationIndicator==="TRUE") ){%>

      <a type="button" class="btn btn-sm btn-primary mr-4" href="/logout">Log Out</a>


      <%}else{%> <a type="button" class="btn btn-sm btn-primary mr-4" href="/signup">Sign Up!</a> <%}%>
    
  </div>
     
  </div>
  
  </nav>
<body>