<%- include("header.ejs") %>

<div class="row">

    <div class="bg-transparent  paragraph col-lg-12 d-flex justify-content-center pt-3 pb-3 pl-5 pr-5 mt-2">



        <p class="text-light pb-3"></p>

    </div>
    <div class="bg-transparent col-lg-12 booking-and-assist d-flex justify-content-center pt-2 pb-4">

        <%if((authenticationIndicator==="TRUE") ){%>


        <a class="btn btn-lg btn-success m-2" href="/booking">Book Your Slot Now!</a>

        <%}else{%>
        <a class="btn btn-lg btn-success m-2" href="/login">Book a Slot Now!</a>

        <%}%>

        
       <a  class="btn btn-lg btn-warning m-2" href="/assistance">On Site Assistance!</a>
     
</div>
   
<div class="col-lg-12 car-brands jumbotron  mt-3 pt-3 pb-4">
<p class="text-light text-center d-block pb-3 h3">Purchase High Quality Spare Parts</p>
<div class="row justify-content-around pt-3 pb-3">

    <img class="brandName col-lg-2 col-sm-4 pt-1 pb-2 col-md-4 col-xs-4" src="/img/parts/Toyota.png" alt="Toyota">
    <img class="brandName col-lg-2 col-sm-4 pt-1 pb-2 col-md-4 col-xs-4" src="img/parts/Ford.png" alt="Ford">
    <img class="brandName col-lg-2 col-sm-4 pt-1 pb-2 col-md-4 col-xs-4" src="/img/parts/MarutiSuzuki.png" alt="MarutiSuzuki">
    <img class="brandName col-lg-2 col-sm-4 pt-1 pb-2 col-md-4 col-xs-4" src="/img/parts/Honda.png" alt="Honda">
    <img class="brandName col-lg-2 col-sm-4 pt-1 pb-2 col-md-4 col-xs-4" src="/img/parts/Renault.png" alt="Renault">
    <img class="brandName col-lg-2 col-sm-4 pt-1 pb-2 col-md-4 col-xs-4" src="/img/parts/Tata.png" alt="Tata">
    <!-- <img class="brandName col-lg-2" src="/img/mahindra.png" alt="mahindra"> -->
    </div>
</div>

</div>

 <script defer > 

const brandNames=document.getElementsByClassName("brandName");
let i=0;
for(i=0;i<brandNames.length;i++){
    brandNames[i].addEventListener("click",(e)=>{
        window.location="/parts/"+(e.target.getAttribute("alt"));
    });
}

// console.log(brandNames);


 </script> 


<%- include("footer.ejs") %>