*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;

}
body{
background-image: url("../img/background-compressed.jpg");
background-size: cover;
}
.brand {
    height:3.7rem;
    width: 3.7rem;
    border-radius: 10px;
}

@keyframes animatebrand{
    from{
        transform:scale(100%);
    }to{
        transform:scale(120%);
    }
}

.navbar{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
}
.car-brands{
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.95;
}
.car-brands img{
    border-radius: 5px;
}

.car-brands img:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(113%);
    cursor: pointer;
}

.footer{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;

}

.signup-form, .login-form{
    opacity: 0.8;
  
}

#errorMessage{
    margin: 15% auto;
}
.partImage{
width: 18rem;
height: 18rem;
border-radius: 0.8rem;

}

.partImage:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(102%);
    cursor: pointer;
    
}
